Repository mashharuki/JPYC_Hackathon_2025: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-contracts

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx,json,md,sol}"
      run: yarn exec prettier --write {staged_files} && git add {staged_files}

    lint-contracts:
      root: pkgs/contracts
      glob: "**/*.{js,ts,sol}"
      run: yarn lint

pre-push:
  parallel: true
  commands:
    test-contracts:
      root: pkgs/contracts
      run: yarn test

    test-web-app:
      root: pkgs/web-app
      run: yarn test

Add VSCode configuration files and update .gitignore
  .gitignore
  .vscode/extensions.json
  .vscode/mcp.json
  .vscode/settings.json
Due: prettier

update
  .claude/.mcp.json
Due: prettier

Semaphore Protocolスキルを追加しました。
  .claude/commands/code-review.md
  .claude/skills/frontend-design/SKILL.md
  .claude/skills/semaphore-protocol/SKILL.md
  .claude/skills/semaphore-protocol/assets/contract-templates/AnonymousAuth.sol
  .claude/skills/semaphore-protocol/assets/contract-templates/BasicSemaphore.sol
  .claude/skills/semaphore-protocol/assets/contract-templates/VotingContract.sol
  .claude/skills/semaphore-protocol/assets/typescript-examples/group-example.ts
  .claude/skills/semaphore-protocol/assets/typescript-examples/identity-example.ts
  .claude/skills/semaphore-protocol/assets/typescript-examples/proof-example.ts
  .claude/skills/semaphore-protocol/references/semaphore-guide.md
  .prettierignore
Due: prettier

UIを改良
  pkgs/web-app/package.json
  pkgs/web-app/src/app/globals.css
  pkgs/web-app/src/app/group/page.tsx
  pkgs/web-app/src/app/page.tsx
  pkgs/web-app/src/app/proofs/page.tsx
  pkgs/web-app/src/components/Auth.tsx
  pkgs/web-app/src/components/Stepper.tsx
  pkgs/web-app/src/components/ui/dialog.tsx
  pkgs/web-app/src/components/ui/index.ts
  pkgs/web-app/src/components/ui/textarea.tsx
  yarn.lock
Due: prettier

update
  pkgs/web-app/src/components/Auth.tsx
Due: prettier

fix
  pkgs/web-app/src/components/Auth.tsx
Due: prettier

Add draft requirement definition and presentation for Innocence Ledger project
  docs/idea.md
  docs/presentation.md
Due: prettier

Update button text in GroupsPage tests and add loading state check in Auth tests
  pkgs/web-app/src/app/group/__tests__/page.test.tsx
  pkgs/web-app/src/components/__tests__/Auth.test.tsx
Due: prettier

Add MIT License to the project
  LICENSE
Due: none

JPYC SDKのGitSubmodulesを追加
  .gitmodules
  .prettierignore
Due: none

JPYCのSkillを追加
  .claude/skills/jpyc-dev-toolkit/README.md
  .claude/skills/jpyc-dev-toolkit/SKILL.md
  .claude/skills/jpyc-dev-toolkit/assets/contract-templates/JPYCIntegration.sol
  .claude/skills/jpyc-dev-toolkit/assets/frontend-examples/JPYCBalance.tsx
  .claude/skills/jpyc-dev-toolkit/assets/frontend-examples/JPYCTransfer.tsx
  .claude/skills/jpyc-dev-toolkit/assets/hardhat-config/hardhat.config.example.ts
  .claude/skills/jpyc-dev-toolkit/references/integration-patterns.md
  .claude/skills/jpyc-dev-toolkit/references/network-config.md
  .claude/skills/jpyc-dev-toolkit/references/resources.md
  .claude/skills/jpyc-dev-toolkit/references/sdk-features.md
  .claude/skills/jpyc-dev-toolkit/scripts/deploy_jpyc_base.ts
  .claude/skills/jpyc-dev-toolkit/scripts/setup_jpyc_sdk.sh
Due: prettier

jpycV2も追加
  .gitmodules
  external/jpyc-sdk/yarn.lock
Due: none

追記
  README.md
Due: none

最新化
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  pkgs/contracts/package.json
Due: prettier

update
  .kiro/steering/product.md
Due: prettier

最新化＆システム構成図を追加
  README.md
  docs/overview.drawio
  docs/overview.png
  yarn.lock
Due: none

マルチシグ用のSKILLを追加しました。
  .claude/skills/multisigwallet/SKILL.md
  .claude/skills/multisigwallet/SYSTEM_PROMPT.md
  .claude/skills/multisigwallet/references/solidity/MultiSigWallet.sol
  .claude/skills/multisigwallet/references/typescript/eip712.ts
  .claude/skills/multisigwallet/references/typescript/index.ts
  .claude/skills/multisigwallet/references/typescript/proposal.ts
  .claude/skills/multisigwallet/references/typescript/types.ts
  .claude/skills/multisigwallet/references/typescript/validate.ts
  docs/idea.md
Due: prettier

軽微な修正
  docs/idea.md
Due: prettier

lintが正常に実行されるように修正
  pkgs/contracts/.solhint.json
Due: prettier

ギャップ分析まで完了
  .kiro/specs/innocence-ledger-mvp/gap-analysis.md
  .kiro/specs/innocence-ledger-mvp/requirements.md
  .kiro/specs/innocence-ledger-mvp/spec.json
Due: prettier

設計書を途中まで生成
  .kiro/specs/innocence-ledger-mvp/design.md
  .kiro/specs/innocence-ledger-mvp/research.md
  .kiro/specs/innocence-ledger-mvp/spec.json
Due: prettier

設計書のレビューが完了
  .kiro/specs/innocence-ledger-mvp/design.md
  .kiro/specs/innocence-ledger-mvp/spec.json
Due: prettier

タスクファイルも作成
  .kiro/specs/innocence-ledger-mvp/spec.json
  .kiro/specs/innocence-ledger-mvp/tasks.md
Due: prettier

承認
  .kiro/specs/innocence-ledger-mvp/spec.json
Due: prettier

1.1完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/.env.example
  pkgs/contracts/hardhat.config.ts
  pkgs/contracts/test/hardhat.config.test.ts
Due: prettier, lint-contracts

fix
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/.gitignore
  pkgs/web-app/jest.setup.js
  pkgs/web-app/package.json
  pkgs/web-app/src/utils/__tests__/casesTableSchema.test.ts
  pkgs/web-app/supabase/migrations/20260104000000_create_cases_table.sql
  yarn.lock
Due: prettier

2.1まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  .prettierrc.json
  package.json
  pkgs/contracts/contracts/InnocentSupportWallet.sol
  pkgs/contracts/package.json
  pkgs/contracts/test/InnocentSupportWallet.test.ts
  yarn.lock
Due: prettier, lint-contracts

修正
  .kiro/settings/mcp.json
  .serena/memories/project_summary.md
Due: prettier

CodeX向けcc-sddを導入
  .codex/prompts/kiro-spec-design.md
  .codex/prompts/kiro-spec-impl.md
  .codex/prompts/kiro-spec-init.md
  .codex/prompts/kiro-spec-requirements.md
  .codex/prompts/kiro-spec-status.md
  .codex/prompts/kiro-spec-tasks.md
  .codex/prompts/kiro-steering-custom.md
  .codex/prompts/kiro-steering.md
  .codex/prompts/kiro-validate-design.md
  .codex/prompts/kiro-validate-gap.md
  .codex/prompts/kiro-validate-impl.md
  AGENTS.md
  CLAUDE.md
Due: prettier

2.3まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/contracts/InnocentSupportWallet.sol
  pkgs/contracts/contracts/MockJPYC.sol
  pkgs/contracts/test/InnocentSupportWallet.test.ts
Due: prettier, lint-contracts

3.1まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/contracts/SemaphoreDonation.sol
Due: prettier, lint-contracts

タスク3.2まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/contracts/MockSemaphoreVerifier.sol
  pkgs/contracts/contracts/SemaphoreDonation.sol
  pkgs/contracts/test/SemaphoreDonation.test.ts
Due: prettier, lint-contracts

スマートコントラクトのユニットテストを実装し、テストカバレッジを確認・補完。MockSemaphoreVerifierの実装を修正し、.gitignoreにcoverage関連を追加。
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/.gitignore
  pkgs/contracts/contracts/MockSemaphoreVerifier.sol
  pkgs/contracts/test/SemaphoreDonation.test.ts
  pkgs/contracts/test/hardhat.config.test.ts
Due: prettier, lint-contracts

Innocence Ledger: Implement deploy scripts and update contract addresses in deployment files
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/contracts/outputs/deployments.json
  pkgs/contracts/tasks/deploy.ts
  pkgs/contracts/test/Feedback.test.ts
Due: prettier, lint-contracts

Update contract addresses in baseSepolia deployment files
  pkgs/contracts/outputs/contracts-baseSepolia.json
  pkgs/contracts/outputs/deployments.json
Due: prettier

タスク6.1まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/package.json
  pkgs/web-app/pnpm-lock.yaml
  pkgs/web-app/src/hooks/__tests__/useJPYCBalance.test.ts
  pkgs/web-app/src/hooks/useJPYCBalance.ts
  src/hooks/useJPYCBalance.ts
Due: prettier

タスク6.3まで完了
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/src/hooks/__tests__/useMultiSigWallet.test.ts
  pkgs/web-app/src/hooks/__tests__/useSemaphoreDonation.test.ts
  pkgs/web-app/src/hooks/useMultiSigWallet.ts
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
Due: prettier
