Repository mashharuki/JPYC_Hackathon_2025: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, lint-contracts

lefthook.yml:

# lefthook.yml

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "**/*.{js,ts,jsx,tsx,json,md,sol}"
      run: yarn exec prettier --write {staged_files} && git add {staged_files}

    lint-contracts:
      root: pkgs/contracts
      glob: "**/*.{js,ts,sol}"
      run: yarn lint

pre-push:
  parallel: true
  commands:
    test-contracts:
      root: pkgs/contracts
      run: yarn test

    test-web-app:
      root: pkgs/web-app
      run: yarn test

Update coding guidelines and project summary; add spec-driven development workflow and new contract details
  .serena/memories/coding_guidelines.md
  .serena/memories/project_summary.md
  yarn.lock
Due: prettier

feat: Implement API routes for case management and integrate Zod for validation
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/jest.config.js
  pkgs/web-app/package.json
  pkgs/web-app/src/__mocks__/coinbase-wallet-sdk.js
  pkgs/web-app/src/__mocks__/jose.js
  pkgs/web-app/src/__mocks__/ofetch.js
  pkgs/web-app/src/__mocks__/uint8arrays.js
  pkgs/web-app/src/app/api/cases/[id]/route.ts
  pkgs/web-app/src/app/api/cases/route.ts
  pkgs/web-app/src/hooks/__tests__/useJPYCBalance.test.ts
  pkgs/web-app/src/hooks/__tests__/useMultiSigWallet.test.ts
  pkgs/web-app/src/hooks/__tests__/useSemaphoreDonation.test.ts
  pkgs/web-app/src/hooks/useJPYCBalance.ts
  pkgs/web-app/src/hooks/useMultiSigWallet.ts
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
  pkgs/web-app/src/utils/web3/abi.ts
  pkgs/web-app/src/utils/web3/addresses.ts
  yarn.lock
Due: prettier

feat: Implement CaseContext provider and associated tests for case management
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/src/context/CaseContext.tsx
  pkgs/web-app/src/context/__tests__/CaseContext.test.tsx
Due: prettier

feat: Implement donation and withdrawal actions in CaseContext with associated tests
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/src/context/CaseContext.tsx
  pkgs/web-app/src/context/__tests__/CaseContext.test.tsx
  pkgs/web-app/src/hooks/useMultiSigWallet.ts
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
Due: prettier

feat: add Case Dashboard and Donation Form components
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/package.json
  pkgs/web-app/pnpm-lock.yaml
  pkgs/web-app/src/app/cases/page.tsx
  pkgs/web-app/src/components/CaseDashboard.tsx
  pkgs/web-app/src/components/CaseDashboardClient.tsx
  pkgs/web-app/src/components/DonationForm.tsx
  yarn.lock
Due: prettier

feat: Implement WithdrawalForm and BalanceDisplay components with validation and error handling
  .kiro/specs/innocence-ledger-mvp/tasks.md
  pkgs/web-app/src/components/BalanceDisplay.tsx
  pkgs/web-app/src/components/WithdrawalForm.tsx
Due: prettier

feat: Enhance BalanceDisplay and CaseDashboard components with Japanese comments and helper functions
  .kiro/specs/innocence-ledger-mvp/design.md
  .kiro/specs/innocence-ledger-mvp/tasks.md
  docs/overview.drawio
  docs/overview.png
  pkgs/contracts/.env.example
  pkgs/contracts/contracts/mock/Feedback.sol
  pkgs/contracts/contracts/mock/MockJPYC.sol
  pkgs/contracts/contracts/mock/MockSemaphoreVerifier.sol
  pkgs/contracts/tasks/index.ts
  pkgs/contracts/tasks/innocentSupportWallet.ts
  pkgs/contracts/tasks/semaphoreDonation.ts
  pkgs/web-app/src/app/__tests__/page.test.tsx
  pkgs/web-app/src/app/globals.css
  pkgs/web-app/src/app/group/__tests__/page.test.tsx
  pkgs/web-app/src/app/group/page.tsx
  pkgs/web-app/src/app/layout.tsx
  pkgs/web-app/src/app/page.tsx
  pkgs/web-app/src/app/proofs/page.tsx
  pkgs/web-app/src/components/BalanceDisplay.tsx
  pkgs/web-app/src/components/CaseDashboard.tsx
  pkgs/web-app/src/components/CaseDashboardClient.tsx
  pkgs/web-app/src/components/DonationForm.tsx
  pkgs/web-app/src/components/HomeClient.tsx
  pkgs/web-app/src/components/PageContainer.tsx
  pkgs/web-app/src/components/Stepper.tsx
  pkgs/web-app/src/components/WithdrawalForm.tsx
  src/hooks/useJPYCBalance.ts
Due: prettier, lint-contracts

feat: update global styles and introduce new UI components
  .github/prompts/design.prompt.md
  .serena/memories/DESIGN_SYSTEM.md
  .serena/memories/IMPLEMENTATION_GUIDE.md
  README.md
  docs/overview2.drawio
  docs/overview2.png
  pkgs/contracts/outputs/contracts-baseSepolia.json
  pkgs/contracts/outputs/deployments.json
  pkgs/contracts/package.json
  pkgs/contracts/tasks/semaphoreDonation.ts
  pkgs/web-app/contract-artifacts/Feedback.json
  pkgs/web-app/src/app/globals.css
  pkgs/web-app/src/components/ui/badge.tsx
  pkgs/web-app/src/components/ui/button.tsx
  pkgs/web-app/src/components/ui/card.tsx
  pkgs/web-app/src/components/ui/dialog.tsx
  pkgs/web-app/src/components/ui/index.ts
  pkgs/web-app/src/components/ui/input.tsx
  pkgs/web-app/src/components/ui/label.tsx
  pkgs/web-app/src/components/ui/textarea.tsx
  pkgs/web-app/src/hooks/__tests__/useSemaphoreDonation.test.ts
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
  pkgs/web-app/src/utils/web3/addresses.ts
  pkgs/web-app/tailwind.config.js
Due: prettier, lint-contracts

feat: remove Feedback contract and related tests; update environment variables and context
  pkgs/contracts/contracts/mock/Feedback.sol
  pkgs/contracts/test/Feedback.test.ts
  pkgs/web-app/.env.development
  pkgs/web-app/.env.example
  pkgs/web-app/src/components/PageContainer.tsx
  pkgs/web-app/src/context/SemaphoreContext.tsx
  pkgs/web-app/src/hooks/__tests__/useSemaphoreDonation.test.ts
  pkgs/web-app/src/utils/web3/addresses.ts
Due: prettier, lint-contracts

コントラクトを最新化
  README.md
  pkgs/contracts/outputs/contracts-baseSepolia.json
  pkgs/contracts/outputs/deployments.json
  pkgs/web-app/src/utils/web3/addresses.ts
Due: prettier

feat: integrate Biconomy for transaction handling in Donation and Withdrawal forms; update useMultiSigWallet and useSemaphoreDonation hooks
  pkgs/web-app/src/components/DonationForm.tsx
  pkgs/web-app/src/components/WithdrawalForm.tsx
  pkgs/web-app/src/context/CaseContext.tsx
  pkgs/web-app/src/context/__tests__/CaseContext.test.tsx
  pkgs/web-app/src/hooks/__tests__/useMultiSigWallet.test.ts
  pkgs/web-app/src/hooks/__tests__/useSemaphoreDonation.test.ts
  pkgs/web-app/src/hooks/useMultiSigWallet.ts
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
Due: prettier

feat: add transaction confirmation client in useBiconomy hook
  pkgs/web-app/src/hooks/useBiconomy.ts
Due: prettier

feat: enhance DonationForm with smart account address handling and copy functionality; update useSemaphoreDonation to include proof generation parameter
  pkgs/web-app/src/components/DonationForm.tsx
  pkgs/web-app/src/components/HomeClient.tsx
  pkgs/web-app/src/hooks/useSemaphoreDonation.ts
Due: prettier

update
  .serena/project.yml
Due: none
